@font-face {
  font-family: "GTA";
  src: url("../assets/pricedown.otf") format("opentype");
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'GTA', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #0f52e4;
}

.logo {
  font-size: 2rem;
  text-shadow: 2px 2px #000;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #0fb9e4;
  font-size: 1.5rem;
  transition: color 0.3s;
  text-shadow: 1px 1px #000000;
}

.navLinks a:hover {
  color: #fff;
}
